<!DOCTYPE html>
<html>
  <head>
    <title>CatFacts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
      <%= current_user.email %> | <%= link_to "Sign out", '/signout' %> | <%= link_to "Cat Facts", '/cat_facts' %>
    <% else %>
      <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %> | <%= link_to "Cat Facts", '/cat_facts' %>
    <% end %>

    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
